<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.awesome.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="Capuccino"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DesActivity"
            android:label="DestinationActivity" />
        <activity android:name=".View.Login.LoginActivity" />
        <activity android:name=".View.Table.TableActivity" />
        <activity android:name=".View.MenuTabs.MenuTabsActivity" />
        <activity android:name=".View.ForgotPassword.ForgotPasswordActivity" />
        <activity android:name=".View.ResetPassword.ResetPasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="roronoa-zoro.herokuapp.com"
                    android:path="/confirm"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Table.TimerActivity" />
        <activity android:name=".View.ScaleDetectorTestActivity" />
        <activity android:name=".View.MoveOrderActivity" />
        <activity android:name=".View.MoveOrder.MoveOrderActivity" />
        <activity android:name=".View.ChooseTableActivity" />
        <activity android:name=".View.Bluetooth.BluetoothActivity"></activity>
    </application>

</manifest>